.user {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.user .avatar {
    border: 2px solid var(--color_font_light);
    border-radius: 50%;
    font-size: 2rem;
    padding: 5px 10px;
    background: var(--color_font_light);;
}