.skills{
    font-size: clamp(12px, 10vw, 40px);
    padding: 2rem;
    text-align: center;
}

.skills .title {
    font-weight: bold;
    color: var(--color-dark-blue);
}

.skills .subtitle {
    font-size: clamp(8px, 6vw, 25px);
    color: var(--color-grey);
}

.skills .tech-stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 600px;
    margin-top: 3rem;
}

.skills .tech-stack img {
    width: clamp(20px, 20vw, 75px);
    max-height: clamp(20px, 20vw, 75px);
    background-color: var(--color-white);
    flex-shrink: 1;
    margin-bottom: 1rem;
}

@media (max-width: 581px){
    .skills {
        margin-top: 60px;
    }
}