.skills{
    text-align: center;
}

.skills .tech-stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 600px;
    margin-top: 3rem;
}

.skills .tech-stack img {
    width: clamp(20px, 10vw, 60px);
    height: auto;
    background-color: var(--color-white);
    flex-shrink: 1;
    margin-bottom: 1rem;
}

@media (max-width: 581px){
    .skills {
        margin-top: 60px;
    }
}