.note{
    min-width: 250px;
    max-width: 450px;
    flex: 1;
    border-radius: 10px;
    padding: 25px 15px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    background-color: white;
    position: relative;
    flex-basis: 250px;
    height: 150px;
}

.note h4 {
    margin-bottom: 10px;
}

.note p {
    word-break: break-word;
}