.content-container{
    padding: 25px;
}

.notes-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: wrap;
    gap: 2rem;
    padding-bottom: 10px;
}