* {
    box-sizing: border-box;
}

:root{
    --blue-color-dark: #146BC9;
    --orange-color: #EA9E2C;
    --grey-color: #999999;
    --padding-tb: 1rem;
    --padding-lr: 2rem;
    --border-radius: 4px;
}

body {
    padding: 0.5rem;
    margin: 0;
    /* background-color: #f7f7f7; */
    font-family: "Nunito", sans-serif; 
    font-optical-sizing: auto;
    font-style: normal;
    background: rgb(255,255,255);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(20,107,201,1) 50%, rgba(20,107,201,1) 100%);
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 1rem);
    width: calc(100vw - 1rem);
    border: 2px solid #ffffff;
    padding: 1rem;
}

.motion-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

.motion-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 0;
}

.card-container {
    display: flex;   
    flex-wrap: wrap;
    gap: min(20px, 1.5rem);    
    width: 100vw;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card {
    aspect-ratio: 0.8;
    max-height: calc(70vh / 2);
    width: calc(100vw / 6);
    background-color: white;
    color: black;
    font-size: min(22vh, 12vw);
    border-radius: 0.5rem;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}


@media (max-width: 1024px) and (orientation:portrait) {
    .card-container .card {
        height: calc(70vh / 5) !important;
        width: calc(100vw / 3) !important;
    }

    .card-container.container-8 .card {
        height: calc(70vh / 4) !important; 
    }

    .card-container.container-6 .card {
        height: calc(70vh / 3.2) !important; 
    }

    .card-container.container-4 .card {
        height: calc(70vh / 3.2) !important;
    }
}


@media (max-height: 1024px) and (orientation:landscape) {
    .card-container.container-4 .card {
        width: calc(80vh / 3) !important;
    }
}

.card-container.container-8 .card{
    height: calc(min(100vw, 100vh) / 2.5);
    width: calc(100vw / 5);
}

.card-container.container-6 .card{
    height: calc(min(100vw, 100vh) / 2.5);
    width: calc(100vw / 4);
}

.card-container.container-4 .card{
    height: calc(min(100vw, 100vh) / 2.5);
    width: calc(100vw / 3);
}

.back, .front {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
}

.front {
    transform: rotateY(180deg);
    color: var(--blue-color);
}

.back {
    background: linear-gradient(50deg, #67ACF6 0%,  #4696F6 100%);
    color: #ffffff;
}

.back::before {
    content: '';
    border: 1px solid white;
    width: 90%;
    height: 93%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
}

.front::before {
    content: '';
    border: 1px solid #55acee;
    width: 90%;
    height: 93%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
}

.card.visible {
    transform: rotateY(180deg);
}

.card.checked {
    background-color: white;
    cursor: default;
}

.dummy-cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: clamp(200px, 55vh, calc(min(100vw, 100vh) / 1.2));
}

.dummy-cards .card {
    z-index: 0;
    height: clamp(160px, 38vh, calc(min(100vw, 100vh) / 2.5));
    width: clamp(100px, 38vw, calc(min(100vw, 100vh) / 3.5));
    max-height: none;
    transition: all 1s ease-in-out;
    cursor: default;
    /* stack one on top of another */
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    font-size: 6rem;
}

.dummy-cards .card .front {
    transform: none;
}

.dummy-cards.animate .card:first-child{
    transform: rotate(-40deg) translate(-55%, -30%);
    z-index: -1;
}

.dummy-cards.animate .card:nth-child(2){
    transform: translateY(-5%);
    z-index: 0;
}

.dummy-cards.animate .card:last-child{
    transform: rotate(25deg) translate(80%, -20%);
    z-index: 1;
}

.dummy-cards.cards-home .card {
    font-size: clamp(16px, min(5vw, 5vh), 2rem);
}

.dummy-cards.cards-home .card:first-child{
    transform: rotate(-30deg) translate(-30%, -20%);
}

.dummy-cards.cards-home .card:last-child{
    transform: rotate(20deg) translate(40%, -15%);
}

.error-header h3 {
    color: var(--grey-color);
}

.link {
    text-decoration: none;
    color:var(--blue-color-dark);
}

.link:active, link:visited, link:focus, link:hover {
    color: var(--blue-color-dark);
}

.link-button {
    text-decoration: none;
    color: #ffffff;
    background-color: var(--orange-color);
    padding: 0.6rem 3rem;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    border-radius: var(--border-radius)
}

.link-button:hover {
    background-color: '#c68524'
}

.MuiDrawer-paper {
    padding: 1.5rem;
}

.MuiToggleButton-root.Mui-selected {
    background-color: var(--blue-color-dark) !important;
    color: #fff !important; 
}

.MuiSlider-thumbColorPrimary {
    color: var(--blue-color-dark) !important;
}

h1, h2 {
    color: var(--blue-color-dark);
}

.title {
    font-size: clamp(12px, min(12vw, 12vh), 5rem) !important;
    color: var(--blue-color-dark);
    font-weight: bold !important;
}