header {
    padding: 1rem;
    height: 50px;
    position: fixed;
    background: var(--color-white);
    width: 100%;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    flex: 1;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--color-grey);
    background-color: var(--color-white);
    transition: .5s ease-out;
    text-transform: capitalize;
    border-radius: 5px;
}
nav ul li a:hover
{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}