header {
    padding: 1rem;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    backdrop-filter: blur(10px);
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    flex: 1;
}
nav ul li {
    list-style-type: none;
}
nav ul li span {
    padding: 10px clamp(10px, 1vw ,20px);
    font-size: clamp(10px, 3vw, 1rem);
    color: var(--color-grey);
    transition: .5s ease-out;
    text-transform: capitalize;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

nav ul li span:hover,
nav ul li span:active, 
nav ul li span:visited,
nav ul li span:focus,
nav ul li span:target {
    background-color: inherit;
    color: inherit;
}

nav ul li span.active
{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}
@media (max-width: 576px){
    nav {
        justify-content: space-around;
    }
    nav ul {
        justify-content: center;
        gap: 1rem;
    } 
}