.question-container .question-info {
    color: var(--color_font_stand);
    text-align: center;
    padding: 0px;
}
    
.question-container .question-info p {
    font-size: clamp(1vw, 0.8rem, 2.5vw)
}

.question-container .question {
    font-size: clamp(2vw, 1.8rem, 4vw);
    padding: clamp(2vw, 25px, 4vw) 0px 25px 0px;
    height: clamp(65px, 20vh, 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    font-size: 1.5rem;
    background: var(--color_answer_dark);
    color: var(--color_light);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px !important;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.progress-bar span {
    position: relative;
}

.progress-bar::before {
    position: absolute;
    width: calc(10% * var(--width));
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    border-radius: 5px 5px 0px 0px;
    background-color: var(--color_font_stand);
}