.question-container .question-info {
    color: var(--color_font_stand);
    text-align: center;
    padding: 0px;
}
    
.question-container .question-info p {
    font-size: clamp(1vw, 0.8rem, 2.5vw)
}

.question-container .question {
    font-size: clamp(2vw, 1.8rem, 4vw);
    padding: clamp(2vw, 25px, 4vw) 0px 25px 0px;
    text-align: center;
}