:root{
  --color-grey: #666666;
  --color-light-grey: #D5D8DC;
  --color-dark-blue: #42446E;
  --color-black: #000000;
  --color-white: #FFFFFF;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: var(--color-white); 
  color: var(--color-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--color-dark-blue);
}

section{
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-white);
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 10vw, 35px);
  padding: 2rem;
}

.title {
  font-weight: bold;
  color: var(--color-dark-blue);
}

.subtitle {
  font-size: clamp(8px, 5vw, 20px);
  color: var(--color-grey);
}