section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  color: var(--front-color);
  font-size: 10rem;
}

.button-group{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

button{
  color: var(--front-color);
  outline: none;
  background-color: var(--background);
  border: 1px solid var(--front-color);
  border-radius: 5px;
  padding: 10px 20px;
}

button:hover{
  cursor: pointer;
  color: var(--background);
  background-color: var(--front-color);
}