.projects {
    text-align: center;
}

.items{
    font-size: clamp(14px, 4vw, 16px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-top: 3rem;
}

.items > div {
    flex-basis: 200px;
    height: 300px;
    border: 1px solid grey;
}