.projects {
    text-align: center;
}

.items{
    font-size: clamp(14px, 4vw, 16px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-top: 3rem;
}

.items > div {
    flex-basis: 250px;
    height: 400px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transform: scale(0);
}

.items > div.popup{
    animation: popup 0.5s ease-in-out forwards;
}

@keyframes popup {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}