* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  overflow-y: auto;
  overflow-x: hidden;
} 

.group-button {
  position: absolute;
  bottom: -20px;
  right: 10px;
  display: flex;
  gap: 1rem;
}

button {
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  cursor: pointer;
}

button:disabled {
  background-color: lightgray !important;
  cursor: not-allowed;
}

button.discard {
  background-color: red;
}

button.action {    
  background-color: gold;
}

.dark button.action {
  background-color: darkslateblue;
}

