.recipe-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe-line .title {
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 5px;
    width: 100px;
}

.recipe-line .content {
    text-align: justify;
}