:root{
  --color_light: #7A47FA;
  --color_dark: #4F23EA;
  --color_medium: #5C46D4;
  --color_font_light: #FFFFFF;
  --color_font_stand: #FFEB4E;
  --color_font_dark: #422B0D;
  --color_font_pale: #c7bce3;
  --color_light_stand: #B7E641;
  --color_dark_stand: #78BA27;
  --color_answer_light: #FEFEFF;
  --color_answer_dark: #DCE9FF;
  --color_danger: #FD7A30;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--color_font_light);
  background: linear-gradient(var(--color_light), var(--color_dark));
  padding: 5px 15px;
}

button {
  color: var(--color_font_dark);
  padding: 10px 25px;
  text-align: center;
  font-size: 1.5rem;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  border: 1.5px solid var(--color_dark);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
}

button.primary {
  color: var(--color_font_light);
  background: linear-gradient(var(--color_light_stand), var(--color_dark_stand));
}

button.secondary {
  color: var(--color_font_dark);
  background: linear-gradient(var(--color_answer_light), var(--color_answer_dark));
}

button.flat {
  color: var(--color_font_light);
  padding: 5px 10px;
  text-align: center;
  font-size: 1rem;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 0;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button:disabled {
  color: var(--color_font_pale);
  cursor: not-allowed;
  background: linear-gradient(var(--color_answer_light), var(--color_answer_dark)) !important;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color_medium);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  padding: 25px;
}

.card p {
  margin-bottom: 20px;
}

.card .button-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.title {
  padding: 5px 10px;
  font-size: 1.5rem;
}

.text-pale {
  color: var(--color_font_pale) !important;
}

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  z-index: 10;
  background: yellow;
  color: black;
  padding: 25px;
  border-radius: 5px;
}